.wrapper {
    grid-area: N;
    height: 100px;
    background-color: white;
}

.wrapper a {
    text-decoration: none;
    margin: 0 40px;
    color: black;
    font-size: large;
    font-weight: bold;
}

