.App-wraper {
  background-color: lightgray;
  display: grid;
  grid-template-areas: 
  "B B B B B B B B B B B"
  ". . P P N N N N N . ."
  ". . P P S S S S S . ."
  ". . C C C C C C C . .";
}

.content {
  grid-area: C;
}