.header {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: chartreuse;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: chartreuse;
}

.wrapper div {
    padding: 30px;
}